<header class="background blog-header" style="background-image: url(<%= asset_path('img_bg_header.jpg')%>)"></header>

<div class="container">
  <div class="article">
    <div class="row">
      <div class="col-md-12">
        <a class="article__back-link" href="<%= root_path %>"><i class="fas fa-long-arrow-alt-left" aria-hidden="true"></i>Back</a>
        <p class="article__title"><%= @blog.title %></p>
        <p class="article_date"><%= @blog.updated_at.strftime("%B %d, %Y") %></p>
        <% if @blog.image.present? %>
          <figure>
            <%= image_tag @blog.image %>
            <figcaption>This is how I organize my HTML, CSS and PHP files</figcaption>
          </figure>
        <% end %>
        <p><%= @blog.description.html_safe %></p>
        <p class="article__share">Share this post:
          <a><i class="fa fa-linkedin-square"></i></a>
          <a><i class="fa fa-facebook-square"></i></a>
        </p>
      </div>
    </div>
  </div>
</div>

<% if @other_posts.present? %>
  <section id="posts" class="container section">
    <div class="row">
      <div class="col-md-12">
        <h2 id="other_posts" class="section__title">Other Posts_</h2>
      </div>
    </div>

    <div class="row posts">
      <div class="col-md-5 mr-auto">
        <div class="posts__item">
          <% @other_posts&.first&.each do |post| %>
            <a href="<%= blogs_path(post) %>">
              <h3 class="posts__title"><%= post.title %></h3>
              <p class="posts__description"><%= truncate(post.description, length: 100, escape: false) %></p>
            </a>
          <% end %>
        </div>
      </div>
      <div class="col-md-5 mr-auto">
        <% @other_posts&.second&.each do |post| %>
          <a href="<%= blogs_path(post) %>">
            <h3 class="posts__title"><%= post.title %></h3>
            <p class="posts__description"><%= truncate(post.description, length: 100, escape: false) %></p>
          </a>
        <% end %>
      </div>
    </div>
<% end %>
</section>