
<% if SiteImage.active.where(slug: "profile_background_image").exists? && SiteImage.active.where(slug: "profile_background_image")&.first&.image&.url&.present? %>
  <header class="main-header" style="background-image: url(<%= rails_blob_path(SiteImage.active.where(slug: "profile_background_image").first.image, disposition: "attachment", only_path: true) %>)">
<% else %>
  <header class="main-header" style="background-image: url(<%= asset_path('img_bg_header.jpg')%>)">
<% end %>
  <div class="container">
    <div class="row personal-profile">
      <div class="col-md-4 personal-profile__avatar">
        <% if SiteImage.active.where(slug: "profile_image").exists? && SiteImage.active.where(slug: "profile_image")&.first&.image&.url&.present? %>
          <%= image_tag SiteImage.active.where(slug: "profile_image").first.image.url %>
        <% else %>
          <img class="" src="<%= asset_path('img_avatar.png')%>" alt="avatar">
        <% end %>
      </div>
      <div class="col-md-8">
        <p class="personal-profile__name"><%= Settler.profile_name.value %></p>
        <p class="personal-profile__work"><%= Settler.profile_work.value %></p>
        <div class="personal-profile__contacts">
          <dl class="contact-list contact-list__opacity-titles">
            <dt>Age:</dt>
            <dd><%= calculate_age(Settler.profile_birthday.value) %></dd>
            <dt>Phone:</dt>
            <dd><a href="tel:<%= Settler.profile_phone.value %>"><%= number_to_phone(Settler.profile_phone.value, area_code: true, country_code: 94)  %></a></dd>
            <dt>Email:</dt>
            <dd><a href="mailto:<%= Settler.profile_email.value %>"><%= Settler.profile_email.value %></a></dd>
            <dt>Address:</dt>
            <dd><%= Settler.profile_address.value %></dd>
          </dl>
        </div>
        <% if SocialLink.active.where(link_type: :any).or(SocialLink.active.where(link_type: :profile)).any? %>
        <p class="personal-profile__social">
          <% SocialLink.active.where(link_type: :any).or(SocialLink.active.where(link_type: :profile)).order(:order).each do |social| %>
            <a href="<%= social.link %>" target="_blank"><i class="<%= social.icon_text %>"></i></a>
          <% end %>
        </p>
        <% end %>
      </div>
    </div>
  </div>
<% if SiteImage.active.where(slug: "profile_background_image").exists? && SiteImage.active.where(slug: "profile_background_image")&.first&.image&.url&.present? %>
  </header>
<% else %>
  </header>
<% end %>
<!--Header-->

<!--Hello-->
<section id="hello" class="container section">
  <div class="row">
    <div class="col-md-10">
      <h2 id="hello_header" class="section__title"><%= Settler.profile_introduction_greeting.value %></h2>
      <p class="section__description"><%= Settler.profile_introduction.value.html_safe %></p>
      <% if SiteDocument.active.where(slug: "resume").exists? && SiteDocument.active.where(slug: "resume")&.first&.document&.url&.present? %>
        <a href="<%= SiteDocument.active.where(slug: "resume").first.document.url %>" download="<%= Settler.profile_name.value %>.<%= SiteDocument.active.where(slug: "resume").first.document.file.extension.downcase %>" class="section_btn site-btn">
          <img src="<%= asset_path('img_btn_icon.png')%>" alt=""><%= Settler.profile_introduction_button_cv.value %>
        </a>
      <% else %>
        <a href="<#" class="section_btn site-btn">
          <img src="<%= asset_path('img_btn_icon.png')%>" alt=""><%= Settler.profile_introduction_button_cv.value %>
        </a>
      <% end %>
    </div>
  </div>
</section>
<!--Hello-->

<hr>

<!--Resume-->
<section id="resume" class="container section">
  <div class="row">
    <div class="col-md-10">
      <h2 id="resume_header" class="section__title"><%= Settler.resume_title.value %></h2>
      <p class="section__description"><%= Settler.resume_introduction.value.html_safe %></p>
    </div>
  </div>
  <% if ResumeItem.active.where(item_type: :education).any? %>
  <div class="row">
    <div class="col-md-8 section__resume resume-list">
      <h3 class="resume-list_title">education</h3>
      <% ResumeItem.active.where(item_type: :education).order(:order).each do |education|%>
      <div class="resume-list__block">
        <p class="resume-list__block-title"><%= education.title.upcase %></p>
        <p class="resume-list__block-date"><%= education.start.year %> - <%= education.end.year %></p>
        <p><%= education.description.html_safe %></p>
      </div>
      <% end %>
    </div>
  </div>
    <% end %>
  <% if ResumeItem.active.where(item_type: :employment).any? %>
  <div class="row">
    <div class="col-md-8 section__resume resume-list">
      <h3 class="resume-list_title">employment</h3>
      <% ResumeItem.active.where(item_type: :employment).order(:order).each do |employment|%>
      <div class="resume-list__block">
        <p class="resume-list__block-title"><%= employment.title.upcase %></p>
        <p class="resume-list__block-date"><%= employment.start.year %> - <%= employment.end.year %></p>
        <p><%= employment.description.html_safe %></p>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
  <% if ResumeSkill.active.any? %>
  <div class="row section__resume progress-list js-progress-list" id="js-progress-list">
    <div class="col-md-12">
      <h3 class="progress-list__title">general skills</h3>
    </div>
    <div class="col-md-5 mr-auto">
    <% ResumeSkill.active.order(:order).each_with_index do |skill, index| %>
      <% if index.even? %>
      <div class="progress-list__skill">
        <p>
          <span class="progress-list__skill-title"><%= skill.title.upcase %></span>
          <span class="progress-list__skill-value"><%= number_to_percentage(skill.percentage,  precision: 0) %></span>
        </p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="<%= skill.percentage %>" aria-valuemin="0" aria-valuemax="100" >
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
    </div>
    <% if ResumeSkill.active.count > 1  %>
      <div class="col-md-5 mr-auto">
        <% ResumeSkill.active.order(:order).each_with_index do |skill, index| %>
          <% if index.odd? %>
            <div class="progress-list__skill">
              <p>
                <span class="progress-list__skill-title"><%= skill.title.upcase %></span>
                <span class="progress-list__skill-value"><%= number_to_percentage(skill.percentage,  precision: 0) %></span>
              </p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="<%= skill.percentage %>" aria-valuemin="0" aria-valuemax="100" >
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <% end %>
</section>
<!--Resume-->

<!--Portfolio-->
<% if Project.active.any? %>
<section id="portfolio" class="container section">
  <div class="row">
    <div class="col-md-12">
      <h2 id="portfolio_header" class="section__title">My projects_</h2>
    </div>
  </div>
  <div class="row portfolio-menu">
    <div class="col-md-12">
      <nav>
        <ul>
          <li><a href="#" data-portfolio-target-tag="all">all</a></li>
          <% Project.project_types.keys.each do |type| %>
            <% next if Project.active.where(project_type: type).none? %>

            <li><a href="#" data-portfolio-target-tag="<%= type.humanize %>"><%= type.humanize %></a></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
  <div class="portfolio-cards">
    <% Project.active.order(:order).each do |project|  %>
    <div class="row project-card" data-toggle="modal" data-target="#portfolioModal-<%= project.id %>" data-portfolio-tag="<%= project.project_type.humanize %>">
      <div class="col-md-6 col-lg-5 project-card__img">
        <% if project.image.present? %>
          <%= image_tag project.image %>
        <% else %>
          <img class="" src="<%= asset_path('img_project_1_mono.png')%>" alt="project-img">
        <% end %>
      </div>
      <div class="col-md-6 col-lg-7 project-card__info">
        <h3 class="project-card__title"><%= project.title %></h3>
        <p class="project-card__description"><%= project.introduction.html_safe %></p>
        <% if project.tags.split(',').any? %>
        <p class="project-card__stack">Used stack:</p>
        <ul class="tags">
          <% project.tags.split(',').each do |tag| %>
            <li><%= tag %></li>
          <% end %>
        </ul>
        <% end %>
        <a href="<%= project.website %>" class="project-card__link"><%= project.website %></a>
      </div>
    </div>
    <% end %>
  </div>
</section>
<% end %>
<!--Portfolio-->

<!--Testimonials-->
<% if Testimonial.active.any? %>
  <div id="testimonials" class="section">
    <% if SiteImage.active.where(slug: "testimonial_background_image").exists? && SiteImage.active.where(slug: "testimonial_background_image")&.first&.image&.url&.present? %>
      <div class="background slider-carousel" style="background-image: url(<%= rails_blob_path(SiteImage.active.where(slug: "testimonial_background_image").first.image, disposition: "attachment", only_path: true) %>)">
    <% else %>
      <div class="background slider-carousel" style="background-image: url(<%= asset_path('img_bg_main.jpg')%>);">
    <% end %>
      <div class="container">
        <div id="carouselTestimonials" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% Testimonial.active.each_with_index do |testimonial, index|%>
              <li data-target="#carouselTestimonials" data-slide-to="<%= index %>" <%= 'class=active' if index == 0 %>></li>
            <% end %>
          </ol>
          <div class="carousel-inner" role="listbox">
            <% Testimonial.active.each_with_index do |testimonial, index|%>
            <div class="carousel-item <%= 'active' if index == 0 %>">
              <div class="row">
                <div class="col-md-10 col-sm-10 col-10 mr-auto ml-auto">
                  <p class="slider-carousel__title"><%= testimonial.name %></p>
                  <p class="slider-carousel__caption">Project: <%= testimonial.project %></p>
                  <hr>
                  <p class="slider-carousel__description"><%= testimonial.content.html_safe %> </p>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#testimonials" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#testimonials" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <div class="slider-carousel__circle">
            <p><i class="fa fa-quote-right" aria-hidden="true"></i></p>
          </div>
        </div>
      </div>
    <% if SiteImage.active.where(slug: "testimonial_background_image").exists? && SiteImage.active.where(slug: "testimonial_background_image")&.first&.image&.url&.present? %>
      </div>
    <% else %>
      </div>
    <% end %>
  </div>
<% end %>
<!--Testimonials-->

<% if Blog.active.any? %>
<section id="blog" class="container section">
  <div class="row">
    <div class="col-md-12">
      <h2 id="blog_header" class="section__title">Latest Posts_</h2>
    </div>
  </div>

  <div class="row post-cards">
    <% Blog.active.order(:order).first(3).each do |blog| %>
    <div class="col-md-4">
      <a href="<%= blogs_path(blog.friendly_id) %>">
        <div class="post-cards__card">
          <div class="post-cards__img">
            <% if blog.image.present? %>
              <%= image_tag blog.image %>
            <% else %>
              <img src="<%= asset_path('img_blog_1.png')%>" alt="blog_img">
            <% end %>
          </div>
          <div class="post-cards__info">
            <p class="post-cards__date"><%= blog.updated_at.strftime("%B %d, %Y") %></p>
            <h3 class="post-cards_title"><%= blog.title %></h3>
            <div class="post-cards_description"><%= blog.introduction.html_safe %></div>
          </div>
        </div>
      </a>
    </div>
    <% end %>
  </div>
</section>
<% end %>
<!--Blog-->
<%= render partial: 'pages/portfolio' %>

<script>
  $( document ).on('turbolinks:load', function() {
    var waypoint = new Waypoint({
      element: document.getElementById('js-progress-list'),
      handler: function() {
        $(".progress-bar").each(function () {
          $(this).animate({
            width: $(this).attr('aria-valuenow') + '%'
          }, 200);
        });
        this.destroy();
      },
      offset: '75%'
    })

    var previousClickedMenuLink = undefined;
    $('.portfolio-menu').on('click', 'a', function(event){
      event.preventDefault();

      if (previousClickedMenuLink) {
        previousClickedMenuLink.removeClass('portfolio-menu__link--active');
      }
      var link = $(event.target);
      link.addClass('portfolio-menu__link--active');
      previousClickedMenuLink = link;

      var targetTag = $(event.target).data('portfolio-target-tag');
      var portfolioItems = $('.portfolio-cards').children();

      if (targetTag === 'all') {
        portfolioItems.fadeIn({duration: 500});
      } else {
        portfolioItems.hide();
      }

      portfolioItems.each(function(index, value){
        var item = $(value);
        if (item.data('portfolio-tag') === targetTag) {
          item.fadeIn({duration: 500});
        }
      });
    });
  });
</script>