
<% if SiteDocument.active.where(slug: "profile_background_image").exists? && SiteDocument.active.where(slug: "profile_background_image").first.document.present? %>
  <header class="main-header" style="background-image: url(<%= rails_blob_path(SiteDocument.active.where(slug: "profile_background_image").first.document, disposition: "attachment", only_path: true) %>)">
<% else %>
  <header class="main-header" style="background-image: url(<%= asset_path('img_bg_header.jpg')%>)">
<% end %>
  <div class="container">
    <div class="row personal-profile">
      <div class="col-md-4 personal-profile__avatar">
        <% if SiteDocument.active.where(slug: "profile_image").exists? && SiteDocument.active.where(slug: "profile_image").first.document.present? %>
          <%= image_tag SiteDocument.active.where(slug: "profile_image").first.document %>
        <% else %>
          <img class="" src="<%= asset_path('img_avatar.png')%>" alt="avatar">
        <% end %>
      </div>
      <div class="col-md-8">
        <p class="personal-profile__name"><%= Setting.profile_name %></p>
        <p class="personal-profile__work"><%= Setting.profile_work %></p>
        <div class="personal-profile__contacts">
          <dl class="contact-list contact-list__opacity-titles">
            <dt>Age:</dt>
            <dd><%= Setting.profile_age %></dd>
            <dt>Phone:</dt>
            <dd><a href="tel:<%= Setting.profile_phone %>"><%= number_to_phone(Setting.profile_phone, area_code: true, country_code: 94)  %></a></dd>
            <dt>Email:</dt>
            <dd><a href="mailto:<%= Setting.profile_email %>"><%= Setting.profile_email %></a></dd>
            <dt>Address:</dt>
            <dd><%= Setting.profile_address %></dd>
          </dl>
        </div>
        <% if SocialLink.active.where(link_type: :any).or(SocialLink.active.where(link_type: :profile)).any? %>
        <p class="personal-profile__social">
          <% SocialLink.active.where(link_type: :any).or(SocialLink.active.where(link_type: :profile)).order(:order).each do |social| %>
            <a href="<%= social.link %>" target="_blank"><i class="<%= social.icon_text %>"></i></a>
          <% end %>
        </p>
        <% end %>
      </div>
    </div>
  </div>
<% if SiteDocument.active.where(slug: "profile_background_image").exists? && SiteDocument.active.where(slug: "profile_background_image").first.document.present? %>
  </header>
<% else %>
  </header>
<% end %>
<!--Header-->

<!--Hello-->
<section id="hello" class="container section">
  <div class="row">
    <div class="col-md-10">
      <h2 id="hello_header" class="section__title"><%= Setting.profile_introduction_greeting %></h2>
      <p class="section__description"><%= Setting.profile_introduction.html_safe %></p>
      <a href="#" class="section_btn site-btn"><img src="<%= asset_path('img_btn_icon.png')%>" alt=""><%= Setting.profile_introduction_button_cv %></a>
    </div>
  </div>
</section>
<!--Hello-->

<hr>

<!--Resume-->
<section id="resume" class="container section">
  <div class="row">
    <div class="col-md-10">
      <h2 id="resume_header" class="section__title"><%= Setting.resume_title %></h2>
      <p class="section__description"><%= Setting.resume_introduction.html_safe %></p>
    </div>
  </div>
  <% if ResumeItem.active.where(item_type: :education).any? %>
  <div class="row">
    <div class="col-md-8 section__resume resume-list">
      <h3 class="resume-list_title">education</h3>
      <% ResumeItem.active.where(item_type: :education).order(:order).each do |education|%>
      <div class="resume-list__block">
        <p class="resume-list__block-title"><%= education.title.upcase %></p>
        <p class="resume-list__block-date"><%= education.start.year %> - <%= education.end.year %></p>
        <p><%= education.description.html_safe %></p>
      </div>
      <% end %>
    </div>
  </div>
    <% end %>
  <% if ResumeItem.active.where(item_type: :employment).any? %>
  <div class="row">
    <div class="col-md-8 section__resume resume-list">
      <h3 class="resume-list_title">employment</h3>
      <% ResumeItem.active.where(item_type: :employment).order(:order).each do |employment|%>
      <div class="resume-list__block">
        <p class="resume-list__block-title"><%= employment.title.upcase %></p>
        <p class="resume-list__block-date"><%= employment.start.year %> - <%= employment.end.year %></p>
        <p><%= employment.description.html_safe %></p>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
  <% if ResumeSkill.active.any? %>
  <div class="row section__resume progress-list js-progress-list" id="js-progress-list">
    <div class="col-md-12">
      <h3 class="progress-list__title">general skills</h3>
    </div>
    <div class="col-md-5 mr-auto">
    <% ResumeSkill.active.order(:order).each_with_index do |skill, index| %>
      <% if index.even? %>
      <div class="progress-list__skill">
        <p>
          <span class="progress-list__skill-title"><%= skill.title.upcase %></span>
          <span class="progress-list__skill-value"><%= number_to_percentage(skill.percentage,  precision: 0) %></span>
        </p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="<%= skill.percentage %>" aria-valuemin="0" aria-valuemax="100" >
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
    </div>
    <% if ResumeSkill.active.count > 1  %>
      <div class="col-md-5 mr-auto">
        <% ResumeSkill.active.order(:order).each_with_index do |skill, index| %>
          <% if index.odd? %>
            <div class="progress-list__skill">
              <p>
                <span class="progress-list__skill-title"><%= skill.title.upcase %></span>
                <span class="progress-list__skill-value"><%= number_to_percentage(skill.percentage,  precision: 0) %></span>
              </p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="<%= skill.percentage %>" aria-valuemin="0" aria-valuemax="100" >
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <% end %>
</section>
<!--Resume-->

<!--Portfolio-->
<section id="portfolio" class="container section">
  <div class="row">
    <div class="col-md-12">
      <h2 id="portfolio_header" class="section__title">My projects_</h2>
    </div>
  </div>
  <div class="row portfolio-menu">
    <div class="col-md-12">
      <nav>
        <ul>
          <li><a href="#" data-portfolio-target-tag="all">all</a></li>
          <li><a href="#" data-portfolio-target-tag="mobile apps">mobile apps</a></li>
          <li><a href="#" data-portfolio-target-tag="web-sites">web-sites</a></li>
          <li><a href="#" data-portfolio-target-tag="landing-pages">landing pages</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="portfolio-cards">
    <div class="row project-card" data-toggle="modal" data-target="#portfolioModal" data-portfolio-tag="web-sites">
      <div class="col-md-6 col-lg-5 project-card__img">
        <img class="" src="<%= asset_path('img_project_1_mono.png')%>" alt="project-img">
      </div>
      <div class="col-md-6 col-lg-7 project-card__info">
        <h3 class="project-card__title">Mobile and desktop app for London hostel store  </h3>
        <p class="project-card__description">
          Do answered bachelor occasion in of offended no concerns. Supply worthy warmth branch of no ye.
          Voice tried known to as my to. Though wished merits or be. Alone visit use these smart rooms ham.
        </p>
        <p class="project-card__stack">Used stack:</p>
        <ul class="tags">
          <li>html5</li>
          <li>css3</li>
          <li>JavaScript</li>
          <li>bower</li>
          <li>grunt</li>
        </ul>
        <a href="#" class="project-card__link">www.superapp.com</a>
      </div>
    </div>
    <div class="row project-card"  data-toggle="modal" data-target="#portfolioModal" data-portfolio-tag="mobile apps">
      <div class="col-md-6 col-lg-5 project-card__img">
        <img class="" src="<%= asset_path('img_project_2_mono.png')%>" alt="project-img">
      </div>
      <div class="col-md-6 col-lg-7 project-card__info">
        <h3 class="project-card__title">Web app page for trevel company</h3>
        <p class="project-card__description">
          Preference any astonished unreserved mrs. Prosperous understood middletons in conviction an
          uncommonly do. Supposing so be resolving breakfast am or perfectly. Is drew am hill from mr.
        </p>
        <p class="project-card__stack">Used stack:</p>
        <ul class="tags">
          <li>html5</li>
          <li>css3</li>
          <li>JavaScript</li>
          <li>BEM</li>
          <li>bower</li>
          <li>grunt</li>
        </ul>
        <a href="#" class="project-card__link">www.travellend.com</a>
      </div>
    </div>
    <div class="row project-card"  data-toggle="modal" data-target="#portfolioModal" data-portfolio-tag="landing-pages">
      <div class="col-md-6 col-lg-5 project-card__img">
        <img class="" src="<%= asset_path('img_project_3_mono.png')%>" alt="project-img">
      </div>
      <div class="col-md-6 col-lg-7 project-card__info">
        <h3 class="project-card__title">Admin template for Photo Service</h3>
        <p class="project-card__description">
          Do answered bachelor occasion in of offended no concerns. Supply worthy warmth branch of no ye.
          Voice tried known to as my to. Though wished merits or be. Alone visit use these smart rooms ham.
        </p>
        <p class="project-card__stack">Used stack:</p>
        <ul class="tags">
          <li>html5</li>
          <li>css3</li>
          <li>JavaScript</li>
          <li>BEM</li>
          <li>bower</li>
          <li>grunt</li>
        </ul>
        <a href="#" class="project-card__link">www.coolphoto.com</a>
      </div>
    </div>
  </div>
</section>
<!--Portfolio-->

<!--Testimonials-->
<% if Testimonial.active.any? %>
  <div id="testimonials" class="section">
    <% if SiteDocument.active.where(slug: "testimonial_background_image").exists? && SiteDocument.active.where(slug: "testimonial_background_image").first.document.present? %>
      <div class="background slider-carousel" style="background-image: url(<%= rails_blob_path(SiteDocument.active.where(slug: "testimonial_background_image").first.document, disposition: "attachment", only_path: true) %>)">
    <% else %>
      <div class="background slider-carousel" style="background-image: url(<%= asset_path('img_bg_main.jpg')%>);">
    <% end %>
      <div class="container">
        <div id="carouselTestimonials" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% Testimonial.active.each_with_index do |testimonial, index|%>
              <li data-target="#carouselTestimonials" data-slide-to="<%= index %>" <%= 'class=active' if index == 0 %>></li>
            <% end %>
          </ol>
          <div class="carousel-inner" role="listbox">
            <% Testimonial.active.each_with_index do |testimonial, index|%>
            <div class="carousel-item <%= 'active' if index == 0 %>">
              <div class="row">
                <div class="col-md-10 col-sm-10 col-10 mr-auto ml-auto">
                  <p class="slider-carousel__title"><%= testimonial.name %></p>
                  <p class="slider-carousel__caption">Project: <%= testimonial.project %></p>
                  <hr>
                  <p class="slider-carousel__description"><%= testimonial.content.html_safe %> </p>
                </div>
              </div>
            </div>
            <% end %>
          </div>
  <!--        <a class="carousel-control-prev" href="#testimonials" role="button" data-slide="prev">-->
  <!--          <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
  <!--          <span class="sr-only">Previous</span>-->
  <!--        </a>-->
  <!--        <a class="carousel-control-next" href="#testimonials" role="button" data-slide="next">-->
  <!--          <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
  <!--          <span class="sr-only">Next</span>-->
  <!--        </a>-->
          <div class="slider-carousel__circle">
            <p><i class="fa fa-quote-right" aria-hidden="true"></i></p>
          </div>
        </div>
      </div>
    <% if SiteDocument.active.where(slug: "testimonial_background_image").exists? && SiteDocument.active.where(slug: "testimonial_background_image").first.document.present? %>
      </div>
    <% else %>
      </div>
    <% end %>
  </div>
<% end %>
<!--Testimonials-->

<!--Blog-->
<section id="blog" class="container section">
  <div class="row">
    <div class="col-md-12">
      <h2 id="blog_header" class="section__title">Latest Posts_</h2>
    </div>
  </div>

  <div class="row post-cards">
    <div class="col-md-4">
      <a href="blog.html">
        <div class="post-cards__card">
          <div class="post-cards__img">
            <img src="<%= asset_path('img_blog_1.png')%>" alt="blog_img">
          </div>
          <div class="post-cards__info">
            <p class="post-cards__date">October 22, 2017</p>
            <h3 class="post-cards_title">How to use css-preprocessor</h3>
            <p class="post-cards_description">Lorem ipsum dolor sit amet, consectetur
              adipisicing elit, sed do eiusmod tempr incididunt...
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="blog.html">
        <div class="post-cards__card">
          <div class="post-cards__img">
            <img src="<%= asset_path('img_blog_2.png')%>" alt="blog_img">
          </div>
          <div class="post-cards__info">
            <p class="post-cards__date">October 22, 2017</p>
            <h3 class="post-cards_title">How I organize my work with code</h3>
            <p class="post-cards_description">Lorem ipsum dolor sit amet, consectetur
              adipisicing elit, sed do eiusmod tempr incididu...
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="blog.html">
        <div class="post-cards__card">
          <div class="post-cards__img">
            <img src="<%= asset_path('img_blog_3.png')%>" alt="blog_img">
          </div>
          <div class="post-cards__info">
            <p class="post-cards__date">October 22, 2017</p>
            <h3 class="post-cards_title">SVG sprites vs Icon Font</h3>
            <p class="post-cards_description">Lorem ipsum dolor sit amet, consectetur
              adipisicing elit, sed do eiusmod tempr incididu...
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
<!--Blog-->

<!--Contact-->

<!--Contact-->

<!-- Portfolio Modal -->
<div class="modal fade portfolio-modal" id="portfolioModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body col-md-11 col-lg-9 ml-auto mr-auto">
        <p class="portfolio-modal__title">Mobile and desktop app for London hostel store</p>
        <img class="portfolio-modal__img" src="<%= asset_path('img_project_1_mono.png') %>" alt="modal_img">
        <p class="portfolio-modal__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt utlabore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcolaboris nisi ut aliquip ex
          ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim id est laborum. Sed ut perspiciatis undeomnis iste natus error sit voluptatem accusantium doloremque
          laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
          dicta sunt explicabo.Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
          conse.
        </p>
        <div class="portfolio-modal__link">
          <a href="#">www.superapp.com</a>
        </div>
        <div  class="portfolio-modal__stack">
          <p class="portfolio-modal__stack-title">Using stack:</p>
          <ul class="tags">
            <li>html5</li>
            <li>css3</li>
            <li>JavaScript</li>
            <li>bower</li>
            <li>grunt</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $( document ).on('turbolinks:load', function() {
    var waypoint = new Waypoint({
      element: document.getElementById('js-progress-list'),
      handler: function() {
        $(".progress-bar").each(function () {
          $(this).animate({
            width: $(this).attr('aria-valuenow') + '%'
          }, 200);
        });
        this.destroy();
      },
      offset: '75%'
    })
  });
</script>